{% extends 'main.html' %}
{% load static%}

{% block content %}
<div class="container card">
    <h1>Available openings</h1>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Company Type</th>
                <th>Employees</th>
                <th>Vacancies</th>
                <th>Rating</th>
                <th>Main Branch City</th>
                <th>Join</th>
            </tr>
            {% for c in companies %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.company_type }}</td>
                    <td>{{ c.employees }}</td>
                    <td>{{ c.vacancies }}</td>
                    <td>{{ c.rating }}</td>
                    <td>{{ c.main_branch_city }}</td>
                    <td><a href="{% url 'apply' %}" class="btn btn-info btn-sm" type="submit">Apply</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="container mt-3">
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>
{% endblock %}
